@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #403F3D;
  background-color: #E1D4C9;
}


.container {
  width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}


/* header */



.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.logo {
  width: 100px;
  height: 60px;
}

nav {
  margin: 36px 0 40px 0;
  
}

.navAbout {
  display: flex;
  gap: 40px;
  list-style: none;
}



.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); 
}

.modal-content {
  background-color: #E1D4C9;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.modal-button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #403F3D;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.navMenu {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navMenu a {
  text-decoration: none;
}

.navMenu img {
  width: 20px;
  height: 20px;
}

.headerContainer {
  background-image: url(./image/header/img-hero.png);
  width: 1360px;
  height: 644px;
  background-size: cover;
  border-radius: 40px;
  position: relative;
  margin: 0 40px;
}

.headerConteinerContent {
  position: absolute;
  background: none;
  margin: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.headerContainerMainText {
  
  background: none;
  font-family: Inter;
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}

.headerContainerEnjoy {
  color: #B0907A;
  background: none;


}

.headerContainerSimpleText {
  
  background: none;
  color: rgb(225, 212, 201);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.headerContainerButton {
  border-radius: 100px;
  color: rgb(64, 63, 61);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  border: none;
  padding: 20px  ;

}


/* choose */

.choose {
  display: flex
  ;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 100px 0;
}

.chooseMainText {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px;
}

.chooseMain2 {
  color: #B0907A;
}

.chooseCocktail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.chooseImg {
  width: 60px;
  height: 60px;
}

.chooseSmores {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.chooseInfo {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.choosePrice {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 44px;
}


/* mid */

.midText {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

.midText2 {
  color: #B0907A;
}


.midBlock {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, auto);  
  gap: 33px; 
  margin: 33px 0;
  
}



.midBlockImg1{
  width: 660px;
  height: 590px;
  border-radius: 20px;
}

.midBlockImg2{
  width: 660px;
  height: 430px;
  border-radius: 20px;
  
}

.midBlockImg3{
  width: 660px;
  height: 430px;
  border-radius: 20px;
}


.midBlockImg4{
  width: 660px;
  height: 590px;
  border-radius: 20px;
}



.mid {
  gap: 100px;
  margin: 32px 40px 100px 40px;
}


/* download */

.download {
  display: flex;
  
}


.downloadMainText {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  margin: 96px 100px 40px 40px;
}

.downloadMainText2 {
  color: #B0907A;
}

.downloadSimpleText {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 40px 100px 40px 40px;
}


.downloadButtons {
  display: flex;
  gap: 20px;
  margin: 40px 310px 144px 40px;

}

.downloadButton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 100px;
  padding: 15px 24px;
}


.downBtnTxt1 {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

.downBtnTxt2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}



/* footer */

.footerContent {
  width: 100%;
  height: 450px;
  background: #665F55;
  border-radius: 40px;
  margin: 100px 40px 40px 40px;
}

.footerContainer {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 100px;
}

.footerRightTxt {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px;
}

.footerRightTxt1 {
  color: #B0907A;
}

.footerImg {
  display: flex;
  gap: 12px;
}

.footerLeftMainTxt {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.footerContact {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

/* coffeTea */

.coffeeTea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coffeeTeaTxt {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  margin: 20px 0 40px 0;
}

.coffeTeaTxt2 {
  color: #B0907A;
}

.coffeeTeaButtons {
  display: flex;
  gap: 16px;
}

.coffeeTeaButton{
  display: flex;
  align-items: center;
  gap: 3px;
  border-radius: 100px;
  padding:6px 15px;
  cursor: pointer;

}

.coffeeTeaButton img {
  width: 30px;
  height: 30px;
}


/* coffee */

.coffee {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 25px 0 100px 0;
}

.coffeeCartImg {
  width: 310px;
  height: 310px;
  border-radius: 40px;
}

.coffeeCartTxt1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin: 20px;
}

.coffeeCartTxt2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 20px;
}

.coffeeCartPrice {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin: 20px;
}


/* tea */

.tea {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 25px 0 100px 0;
}

.teaCartImg {
  width: 310px;
  height: 310px;
  border-radius: 40px;
}

.teaCartTxt1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin: 20px;
}

.teaCartTxt2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 20px;
}

.teaCartPrice {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin: 20px;
}

/* desert */


.desert {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 25px 0 100px 0;
}

.desertCartImg {
  width: 310px;
  height: 310px;
  border-radius: 40px;
}

.desertCartTxt1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin: 20px;
}

.desertCartTxt2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 20px;
}

.desertCartPrice {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin: 20px;
}












